.Label {
    width: 60%;
    height: 50%;
    margin-top: 20px;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    background-color: #7788AA;
    ;
}

.Label img {
    width: 90%;
    height: auto;
}